<h1>Allergy Finder</h1>
<form action="/allergies">
  <div class="form-group">
    <label for="allergy_score">Enter your Allergy Score</label>
    <input id="allergy_score" name="allergy_score" class="form-control" type="text">
  </div>
  <button id="submit" class ="btn-success">Allergize!</button>
</form>
